.invalid-date {
    color: red;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .todo-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        textarea {
            resize: none;
            width: 100%;
            min-height: 100px;

        }

        label {
            font-weight: bold;
            margin-bottom: 5px;

        }

        input,
        textarea {
            padding: 8px;
            border-radius: 6px;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
    }
}

.table-container {
    margin: 1vw 10vw;
    padding-bottom: 10vw;

    .table {
        a {
            text-decoration: none;
            color: black;
        }
    }
}